/* Universal selectors */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  padding-left: -50px;
  height: 50px;
  margin-right: 12px;
}

.nav {
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 1400px;
}

.nav .logo {
  height: 50px;
  padding-left: 10px;
  margin-left: auto;
}
.nav a {
  display: block;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding-right: 14px;
}
/* content area */

.content {
  display: block;
  width: 1400px;
  margin: auto;
  padding-top: 116px;
  text-align: center;
}

.column.large {
  width: 1200px;
  height: 700px;
  text-align: center;
  margin: auto;
}

.mission .image-content {
  background-image: url("../img/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin-top: 0;
  text-align: center;
}

.mission.image-content h4 {
  margin-top: 50px;
  text-align: center;
}

.mission image-content h2 {
  text-align: center;
}

.mission .space{
  margin: auto;
  height: 50px;
  width: 1200px;
  text-align: center;
  padding: 350px 0;
}

.column.medium {
  background-image: url("../img/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  align-content: space-around;
  text-align: center;
  margin: auto;
}

.tea.gallery {
  width: 1000px;
  text-align: center;
  margin: auto 10px;
}

.tea-image img{
  justify-content: space-around;
  height: 200px;
  width: 300px;
  margin: auto;
}


.column.medium .Locations {
  text-align: center;
  margin: auto;
}

.places {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: black;
  text-align: center;
  margin: auto;
  opacity: 1;
}

.column.small{
  height: 200px;
  text-align: center;
}

footer{
  text-align: left;
  padding-left: 20px;
}
/*.Mission {
  background-image: url(../img/img-mission-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border: 10px;
  border-color: white;
  height: 700px;
  width: 1200px;
  padding: 10px 10px;
}*/
